celluloid==0.2.0
dicom2nifti==2.3.0
jupyter==1.0.0
imgaug==0.4.0
tensorboard==2.7.0
torch==1.9.1
torchio==0.18.57
torchmetrics==0.5.1
torchvision==0.10.1
tqdm==4.62.3
pytorch-lightning==1.4.9
opencv-python==4.5.3.56
numpy==1.21.2
nibabel==3.2.1
matplotlib==3.4.3
pandas==1.1.5
pydicom==2.2.2

